<footer style="position: relative; bottom: 0; width: 100%;">
    {{!-- <section>
        <div class="card text-center" style="background-color: #1C1C1C">
            <div class="card-header" style="color: white;">
                 Creado por Michelovers 6°E
            </div>
            <div class="card-body" style="background-color: #2E2E2E">
                <h5 class="card-title" style="color: white;">Control de Inventario de Mazda</h5>
                <p class="card-text" style="color: white;">Este software fue desarrollado por un equipo de estudiantes de la Universidad de Colima como proyecto Integrador.<p>
                <a href="http://www.mazda.com" class="btn btn-success" style="color: white;">Mazda</a>
            </div>
        </div>
    </section> --}}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="../../../javascripts/jquery-3.3.1.js"></script>
    <script src="../../../feather-icons/dist/feather.js"></script>
    <script> feather.replace(); </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </footer>